service vendor.vibrator-begonia /vendor/bin/hw/android.hardware.vibrator-service.begonia
    class hal
    user system
    group system input

on post-fs
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/duration
